.portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h1 {
        margin-top: 150px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Nunito", sans-serif;
    }

    .meat {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 32%;
        height: 800px;
        background-image: url('../../assets/meat2.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .wrap {
            position: relative;
            width: auto;
            height: auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.093);

            div {
                margin-top: 30px;
            }
        }
    }

    .fish {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 32%;
        height: 800px;
        background-image: url('../../assets/fish.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .wrap {
            position: relative;
            width: auto;
            height: auto;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.193);

            div {
                margin-top: 30px;
            }
        }
    }

    .desserts {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 32%;
        height: 800px;
        background-image: url('../../assets/desert.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        .wrap {
            position: relative;
            width: auto;
            height: auto;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.244);

            div {
                margin-top: 30px;
            }
        }
    }
}