.btnBack {
    margin: 5px;

    a {
        text-decoration: none;
        font-size: large;
        font-weight: bold;
        color: black;

        &:hover {
            opacity: 0.5;
        }
    }
}

.wrap {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 150px;
    width: 80%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.11);

    .image {
        img {
            width: 700px;
            height: max-content;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 26px 2px rgba(0, 0, 0, 0.21);
            -moz-box-shadow: 0px 0px 26px 2px rgba(0, 0, 0, 0.21);
            box-shadow: 0px 0px 26px 2px rgba(0, 0, 0, 0.21);
        }
    }

    .title {
        margin: 15px;
        font-family: "Roboto", sans-serif;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 0.3px;
    }

    .description {
        margin: 15px;
        font-family: "Nunito", sans-serif;
        font-size: 20px;
        font-weight: lighter;
        letter-spacing: 0.4px;
    }
}