.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100px;
    background-color: white;

    .logo {
        margin-left: 50px;

        h2 {
            font-family: 'Nunito',
                sans-serif;
            font-size: 30px;
        }
    }
}